body{
    color: white;
    background-color: #333;
    font-family: sans-serif;
}

td{
    width: 20px;
    height: 20px;
    font-size: 10px;
    text-align: center;
}

input{
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #444;
    color: white;
}

#setings{
    line-height: 25px;
}

#relFields{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#submitButton{
    margin: 20px 0px 10px 0px;
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}